root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
keep_existing_linebreaks = true
max_line_length = off

[CNAME]
insert_final_newline = false

[*.{json,xml,yml,htm,html,js,ts,css,scss,less}]
indent_size = 2

[*.{*proj,resx,config,ruleset,cd,props,targets,nuspec}]
indent_size = 2

[*.{bat,cmd}]
charset = latin1
end_of_line = crlf

[*.sln]
end_of_line = crlf
indent_style = tab

[*.cd]
end_of_line = crlf
insert_final_newline = false

[*.{md,resx,Designer.*}]
trim_trailing_whitespace = false
